
.jumbotron {
  padding: 180px 0 250px 0;
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190828/pngtree-school-timetable-card-with-laptop-theme-in-background-image_307720.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.selfphoto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-media {
  margin-top: 20px;
  margin-bottom: 20px;
}
.social-media img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.contents {
  /*make contents in center*/
  height: 300px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.contents-item img {
  width: 150px;
  height: 150px;
  display: flex;
  flex: auto;
}

.contents-item {
  float: left;
  margin-right: 40px;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
  text-align: center;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.7;
  border-radius: 4px;
  text-align: center;
  background-color: #8c98c9;
}

.btn:hover {
  opacity: 1;
}

.form-control {
  margin: 5px auto;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #000000;
}

footer p {
  color: #ffffff;
  font-size: 12px;
}